main.home-hero {
  position: relative;
  margin-top: 8vh;
  width: 100vw;
  height: 84vh;
  overflow: hidden;

  .hero-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image 1s cubic-bezier(.4,0,.2,1);
    z-index: 1;

    .dark-overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
  }

  h2, p, a {
    position: relative;
    z-index: 2;
    width: 90%;
    top:18vh;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.25);
    margin-bottom: 2.5rem;
    font-family: "Space Grotesk";
  }

  p {
    font-size: 1.1rem;
    text-shadow: 0 2px 8px rgba(0,0,0,0.18);
    margin-bottom: 4.5rem;
    text-align: left;
    line-height: 1.5rem;
  }

  a {
    width: 50%;
    max-width: 20rem;
    min-width: 12rem;
  }

  @media (min-width: 860px) {
    h2, p, a {
      width:80%;
    }

    h2{
      font-size: 2.5rem;
    }

    p{
      font-size: 1.5rem;
      line-height: 2rem;
    }

    a{
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1000px) {
    height: 84.5vh;
    h2 {
      font-size: 3rem;
      margin-bottom: 5.5rem;
    }

    p {
      font-size: 1.5rem;
      width: 60%;
      line-height: 2.5rem;
    }

    a {
      font-size: 1.5rem;
      width: 40%;
      left: 50%;
    }
  }
}