$button-color:#2b7a78;

.vehicle {
    position: relative;
    margin-top: 8vh;
    width: 100%;
    padding-bottom: 5rem;
    background-color: whitesmoke;

    >div:first-child {
        position: relative;
        width: 100%;

        img,video {
            width: 100%;
            height: 63vw;
            object-fit: cover;
            object-position: center;

        }
        ion-icon{
            position: absolute;
            top: 50%;
            font-size: 1.5rem;
            color: white;
            padding: 0.5rem;

            &:hover {
                color: grey;
            }
        }
        #prev {
            left: 3%;
        }
        #next {
            right: 3%;
        }
        .guide {
            position: absolute;
            left: 50%;
            bottom: 10%;
            display: flex;
            flex-direction: row;
            gap: 0.3rem;

            div {
                background-color: grey;
                height: 0.5rem;
                width: 0.5rem;
                border: none;
                border-radius: 50%;

                &.active {
                    background-color: white;
                }
            }

        }
    }
    .model,.price {
        font-weight: bold;
        text-align:right;
        background-color:  whitesmoke;
        padding: 0.3rem;
    }

    .overview {
        margin: 2rem auto;

        h3 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            color: #222;
            padding-left: 1.5rem;
        }

        .overview-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3rem;
            margin-top: 1rem;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                width: 90%;
                margin: 0 auto;
            }
        }

        .overview-item {
            display: flex;
            gap: 0.75rem;
            align-items: flex-start;
            background: #f9f9f9;
            padding: 1rem;
            border-radius: 12px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            transition: transform 0.2s ease-in-out;

            &:hover {
            transform: translateY(-3px);
            }

            ion-icon {
            font-size: 1.6rem;
            flex-shrink: 0;
            }

            div {
            display: flex;
            flex-direction: column;
            width: 100%;

                strong {
                    font-size: 0.95rem;
                    color: #333;
                    margin-bottom: 0.25rem;
                    line-height: 1.3;
                }

                div {
                    font-size: 0.9rem;
                    color: #555;
                    line-height: 1.4;
                    word-wrap: break-word;
                }
            }
        }
    }


    >div:last-child {
        button {
            display: block;
            border:1px solid $button-color;
            border-radius: 1000px;
            padding: 0.8rem;
            width: 80vw;
            margin: 1rem auto;
            cursor: pointer;
            transition: background-color 0.5s, color 0.5s ;

        }

        button:first-child {
            background-color: whitesmoke;
            color: black;

            &:hover {
                background-color: $button-color;
                color: white;
            }
        }

        button:last-child {
            background-color: $button-color;
            color: white;

            &:hover {
                background-color: white; 
                color: black; 
            }
        }

    }

    @media (min-width: 768px) {
        .model,.price {
            padding-right: 2rem;
        }
        .price {
            box-shadow: 0 0.2px 0.5px grey;
        }
    } 

    @media (min-width: 1000px) {
        div:first-child {
            ion-icon {
                font-size: 3rem;
            }
        }
        .overview {
            width: 70%;
            display: block;
            margin: 2rem auto;
            padding-left: 5rem;
            
            h3{
                padding-left: 1rem;
                font-size: 1.5rem;
            }
        }

        >div:last-child > button {
            border-width: 2px;
            max-width: 40%;
            position: relative;
            background-color: transparent;
            overflow: hidden;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 101%;
                height: 100%;
                background-color: $button-color;
                transform: translateX(-100%);
                transition: all .5s;
                z-index: -1;
            }

            &:last-child {
                background-color: whitesmoke;
                color: black;

                &:hover {
                    color: whitesmoke;
                    font-weight: bold;
                }
            }

            &:hover::before {
                transform: translateX(0);
                color: whitesmoke;
            }


        }  
    } 
}